#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffbe80;
}

#logo {
  margin: 6px;
}

#navbar a {
  color: #001d59;
  margin-left: 8px;
  margin-right: 12px;
  text-decoration: none;
  transition: color 0.2s ease;
}

#navbar a:hover {
  cursor: pointer;
  color: #ea4600;
}